.mainContainer {
  background-image: url("../assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle,
.number {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.15em;
  font-family: "Barlow Condensed";
}

.subtitle {
  font-weight: 400;
  padding-block: 48px 50px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.number {
  font-weight: 700;
  opacity: 0.25;
  padding-right: 24px;
}

.image {
  object-fit: contain;
  width: 100%;
  margin-bottom: 32px;
}

.terminology {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.separator {
  height: 1px;
  opacity: 0.25;
  background-color: #ffffff;
  margin-block: 24px;
}

@media (min-width: 768px) {
  .mainContainer {
    padding-inline: 40px;
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }

  .subtitle {
    text-align: left;
    padding-block: 64px 88px;
  }

  .subtitle,
  .number {
    font-size: 20px;
  }

  .image {
    width: 100%;
  }

  .terminology {
    padding-block: 40px 16px;
    margin: 0;
    font-size: 24px;
  }

  .textContainer {
    align-self: center;
    max-width: 490px;
  }

  .mainContainer {
    padding-bottom: 51px;
  }
}

@media (min-width: 1440px) {
  .mainContainer {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    padding: 64px 0 0 64px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 100px;
  }

  .innerContainer {
    flex-direction: row;
    padding-block: 64px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;

    order: 1;
    padding-inline: 64px 32px;
  }

  .picture {
    order: 2;
  }

  .image {
    width: 608px;
    height: 683px;
    margin: 0;
  }

  .subtitle,
  .number {
    font-size: 28px;
  }

  .subtitle {
    padding: 72px 0 0;
  }

  .terminology {
    font-size: 32px;
    text-align: left;
  }
}
