.destinationMenu {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 32px;
  padding: 0;
}

.menuLink {
  text-transform: uppercase;
  list-style: none;
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
}

.menuLink.active {
  border-bottom: 3px solid;
  border-color: #ffffff;
  padding-bottom: 15px;
}

.menuLink:hover {
  border-bottom: 3px solid;
  padding-bottom: 15px;
  border-color: rgba(255, 255, 255, 0.3);
}
