.button {
  width: 144px;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 999px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  color: #0b0d17;
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 18px;
}

.button:hover {
  outline-width: 88px;
  outline-style: solid;
  outline-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  .button {
    width: 272px;
    height: 272px;
    font-size: 32px;
  }
}

@media (min-width: 1440px) {
  .button {
    margin-block: 35px;
  }
}
